body{
    font-family: Arial, sans-serif;
    background-color: rgb(230, 227, 227);
    
}

h1{
    color: rgb(87, 87, 254);
}

form{
    background-color: aliceblue;
    text-align: center;
    max-width: 350px;
    margin: auto;       /*  to automatically center that */
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.292);
}

#text{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid rgba(0, 0, 0, 0.73);
    border-radius: 4px;
    margin-bottom: 15px;
}
label{
    font-size: 1.5em;
    font-weight: bold;
}
button{
    margin-top: 15px;
    background-color: rgb(49, 217, 161);
    color: whitesmoke;
    font-size: 1.5em;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;

}
button:hover{
    background-color:  rgb(76, 247, 190);
}

#result{
    font-size: 1.75em;
    font-weight: bold;
}